- @articles.each do |article|
    -if article.published?
        %div{id: dom_id(article)}
            = link_to "#{article.title}", article_path(article), {class: 'main'}
            %h4= article.description
            %p= article.category.name
            %br
            %br

%h2 Outside source
- @external_articles.each do | feed |
    %h3
        %strong= feed.title
    %img{src: "#{feed.urlToImage}", width: "200px"}/
    %p= feed.description
    %p= link_to "Read the full story on #{feed.name}", feed.url, target: :_blank
    %br
    %br