= form_with model: @article  do | form |
    = notice || alert
    %p
        = form.label :title
        %br/
        = form.text_field :title
    %p
        = form.label :description
        %br/
        = form.text_field :description
    %p
        = form.label :content
        %br/
        = form.text_field :content
    %p
        = form.label :journalist
        %br/
        = form.text_field :journalist
    %p
        = form.label :category_id
        %br/
        = form.collection_select :category_id, @categories, :id, :name
    %p
        = form.submit 'Save Article'