.ml-10p.mr-10p.flex.justify-center
    .flex.flex-col.items-center.m-8.text-center
        %h1= @article.title
        %p= image_tag @article.image if @article.image.attached? 
        %p.m-4= "Written by #{@article.user.name}"
        %p= @article.description
        %p= @article.content
        - if current_user == @article.user
            = link_to 'Edit', edit_content_management_article_path(@article)