.ml-10p.mr-10p.flex.justify-center
    .flex.flex-col.items-center.m-8.text-center
        %h1= @article.title
        %p= image_tag @article.image if @article.image.attached? 
        %p.m-4= "Written by #{@article.user.name}"
        %p= @article.description
        %p= @article.content
       
        - if user_cannot_access_content
            = 'Premium content. To access content, please subscribe.'
            = link_to 'Subscribe', new_subscriber_path(current_user) if user_is_a_member
            = link_to 'Subscribe', new_user_registration_path if user_is_a_visitor

        - else
            %p= @article.content
        - if current_user_is_the_author
            =link_to 'Edit article', edit_content_management_article_path(@article)

        %h2 Comments
        - @article.comments.each do |comment|
            %p
                %strong Commenter:
                = comment.user.name
            %p
                %strong Comment:
                = comment.body

        - if current_user_is_a_subscriber
            %h2 Add a comment:
            = form_with(model: [ @article, @article.comments.build ], local: true) do |form|
                %p
                    Commenter:
                    = current_user.name
                %p
                    = form.hidden_field :user_id, value: current_user.id
                %p
                    = form.label :body
                    %br/
                    = form.text_area :body
                %p
                    = form.submit
