.ml-10p.mr-10p.flex.justify-center
    .flex.flex-col.items-center.m-8.text-center
        %h1= @article.title
        %h1= @article.description
        %p.m-4= "Writen by #{@article.journalist}"
        %p= @article.content
    
