%nav.flex.items-center.justify-between.flex-wrap.sunrise
    .text-sm.lg:flex-grow.flex.justify-start.text-black.no-underline
        =link_to image_tag('logo.png', {id: 'logo'}), root_path

-if user_signed_in?
    = link_to 'Become a subscriber', new_subscriber_path(current_user) if user_is_a_member
    = link_to 'New article', new_content_management_article_path unless user_is_a_member
    = link_to 'Articles', content_management_articles_path if user_is_a_editor
    = link_to 'Logout', destroy_user_session_path, method: :delete
- else
    = link_to 'Register', new_user_registration_path
    = link_to 'Login', new_user_session_path
    = link_to 'Become a subscriber', new_user_registration_path if user_is_a_visitor
%br
= notice || alert