%h1.m-4 Non published articles
.nonpublished.flex.flex-wrap
    -@articles = Article.all
    -@articles.each do |article|
        -if article.published == false
            %div.border-2.bg-grey-lightest.m-4.p-4.w-33p{id: dom_id(article)}
                %h2= article.title
                %h4= article.description
                %p= article.category.name
                %p= "Written by #{article.user.name}"
                =link_to 'Review', content_management_article_path(article)