%h1 Publised articles
.published
    -@articles = Article.all
    -@articles.each do |article|
        -if article.published == true
            %div{id: dom_id(article)}
                %h1= article.title
                %h4.mt-8= article.description
                %p.border.rounded-full.w-33p.text-center.bg-grey-lightest.text-xs.mt-4= article.category.name
                %p.m-4= "Written by #{article.user.name}"
                =link_to 'Review', content_management_article_path(article)